@import "src/scss/constans.scss";

.menu__block {
    display: flex;
    align-items: center;
    column-gap: toRem(6);
    background-color: $whiteColor;
    padding: toRem(5) toRem(12);
    border-radius: toRem(25);
    max-width: toRem(200);
    min-width: toRem(192);
    overflow: hidden;
    box-sizing: border-box;
    @media (max-width: 1084px) {
        &__text_des {
            margin-right: toRem(5);
        }
        p {
            font-size: toRem(18);
        }
    }
    @media (max-width: $mobile) {
        max-width: fit-content;
        min-width:fit-content;
        padding: toRem(5) toRem(12);
    }
    @media (max-width: $mobileSmall) {
        min-width: toRem(192);
    }
    &__active {
        background-color: $orangeColor;
        transition: all 0.5s ease;
        p {
            color: $whiteColor;
            display: flex;
        }
        .menu__block__icon {
            background-color: $whiteBackground;
        }
    }
    &:hover,
    &:active {
        background-color: $orangeColor;
        transition: all 0.5s ease;
        p {
            color: $whiteColor;
            display: flex;
        }
        .menu__block__icon {
            background-color: $whiteBackground;
        }
    }
    &__text {
        margin-right: toRem(49);
        @media (max-width: $mobile) {
            margin-right: toRem(5);
        }
    }
    &__text_des {
        margin-right: toRem(10);
    }
    p {
        font-size: toRem(22);
        font-weight: 700;
    }
    &__icon {
        background-color: $greyColor;
        border-radius: toRem(50);
        min-width: toRem(40);
        min-height: toRem(30);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        box-sizing: border-box;
        img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: toRem(22);
            height: toRem(22);
        }
        &__dessert {
            margin-right: toRem(5);
        }
    }
}
