@import "src/scss/constans.scss";

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    column-gap: toRem(10);
    &__container {
        padding-top: toRem(20);
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    @media(max-width: 1084px) {
        .menu__titel {
            h1 {
                font-size: toRem(22);
            }
        }
    }
    @media(max-width: $mobile) {
        flex-direction: column;
        align-items: center;
        row-gap: toRem(20);
        .menu__navigation {
            max-width: 100%;
            width: 100%;
        }
    }
    &__titel {
        h1 {
            font-size: toRem(30);
        }
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
        max-width: 65%;
        column-gap: toRem(10);
        @media(max-width: $mobileSmall) {
            flex-direction: column;
            align-items: center;
            row-gap: toRem(10);
        }
    }
    &__search {
        display: flex;
        justify-content: center;
        column-gap: toRem(5);
        background-color: $greyColor;
        border-radius: toRem(15);
        padding: toRem(8) toRem(14);
        &__img {
            img {
                width: toRem(32);
                height: toRem(32);
            }
        }
        input[type="text"] {
            padding-top: toRem(2);
            background-color: $greyColor;
            outline: none;
            &::placeholder {
                font-size: toRem(24);
            }
        }
    }
}